*
  margin 0
  padding 0
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  outline none

html,body
  height 100%
  font-family 'Helvetica', sans-serif
  font-weight lighter
  -webkit-font-smoothing antialiased


// @import "header.styl"

// @import "configure.styl"
